---
layout: base.njk
title: Blog post title
permalink: "posts/{{ title | slug }}/index.html"
---

<div>
  <div class="post-header">
    <h2 class="post-title">{{title}}</h2>
    <date class="post-date">{{date.toLocaleDateString(undefined,{ year: 'numeric', month: 'long', day: 'numeric' })}}</date>
  </div>
  <div class="theme--editorial">
  {{ content | safe }}
  </div>
</div>