* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

a {
  color: black;
  text-decoration-color: hotpink;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.flex {
  display: flex;
}

.font-monospace {
  font-family: monospace;
}

.weight-normal {
  font-weight: normal;
}

.fz1 {
  font-size: 1rem;
}

.fz2 {
  font-size: 2rem;
}

.fz3 {
  font-size: 3rem;
}

.fz1\.5 {
  font-size: 1.5rem;
}

.lh1 {
  line-height: 1;
}

.lh1\.5 {
  line-height: 1.5;
}

.p10vw {
  padding: 10vw;
}

.min-h100vh {
  min-height: 100vh;
}

.w80vw {
  width: 80vw;
}

.h80vh {
  height: 80vh;
}

.max-w80vw {
  max-width: 80vw;
}

.max-h80vh {
  max-height: 80vh;
}

.h100p {
  height: 100%;
}

.m-auto {
  margin: auto;
}

.layout-best-of-2019 {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 5rem;
}

.layout-homepage {
  display: grid;
  margin: auto 0;
  gap: 2rem 0;
  grid-template-columns: max-content 1fr;
  grid-template-areas:
    "header"
    "current-job"
    "susu"
    "side-projects"
    "best-of"
    "previously";
}

@media (min-width: 750px) {
  .layout-homepage {
    gap: 2rem;
    grid-template-areas:
      "header      header"
      "current-job side-projects"
      "susu        best-of"
      "previously  previously";
  }
}

.layout-homepage__item {
  background-color: #fff;
  gap: 1rem;
}

.bg-pink {
  background-color: hotpink;
}

.item-header {
  grid-area: header;
}

.item-current-job {
  grid-area: current-job;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-side-projects {
  grid-area: side-projects;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item-susu {
  grid-area: susu;
  display: grid;
}

.item-best-of {
  display: grid;
  grid-area: best-of;
  grid-template-columns: 1fr 1fr 1fr;
}

.item-previously {
  grid-area: previously;
}

.heading {
  font-size: 2rem;
}

.section-title {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.column-full {
  grid-column: 1/-1;
}

.container {
  display: flex;
  min-height: 100vh;
  padding: 1rem;
}

@media (min-width: 750px) {
  .container {
    padding: 10vw;
  }
}
