---
title: Music - Best of 2020
---

<div class="font-monospace fz1 flex min-h100vh">
  <main class="layout-best-of-2020 w80vw h100p m-auto">
    <div>
      <h1 class="weight-normal fz1.5">{{albums.title}}</h1>
      <ol class="lh1.5 items--album">
        {% for album in albums.list %}
        <li class="item item--album">
          <span class="item__title">{{album.title}}</span>
          <span class="item__artist">{{album.artist}}</span>
        </li>
        {% endfor %}
      </ol>
    </div>
    <div>
      <h1 class="weight-normal fz1.5">{{}songs.title}}</h1>
      <ol class="lh1.5 items--song">
        {% for song in songs.list %}
        <li class="item item--song">
          <span class="item__title">{{song.title}}</span>
          <div class="item__details">
            <span>{{song.artist}}</span>
            -
            <span>{{song.release}}</span>
          </div>
        </li>
        {% endfor %}
      </ol>
    </div>
  </main>
</div>
