---
title: Music - Best of 2019
---

<div class="font-monospace fz1 flex min-h100vh">
  <main class="layout-best-of-2019 w80vw h100p m-auto">
    <div>
      <h1 class="weight-normal fz1.5">Best Albums of 2019</h1>
      <ol class="lh1.5">
        {% for album in albums.list %}
        <li>{{album.title}} - {{album.artist}}</li>
        {% endfor %}
      </ol>
    </div>
    <div>
      <h1 class="weight-normal fz1.5">Best Songs of 2019</h1>
      <ol class="lh1.5">
        {% for song in songs.list %}
        <li>{{song.title}} - {{song.artist}}</li>
        {% endfor %}
      </ol>
    </div>
  </main>
</div>
